/UserService.class
/UserServiceTest.class
/UserLevelUpgradePolicy.class
/UserLevelUpgradePolicyNormal.class
/UserLevelUpgradePolicySpecial.class
/UserServiceTest$TestUserService.class
/UserServiceTest$TestUserServiceException.class
